{% load avatar_tags %}
{% for post in posts.all %}
{% load staticfiles %}
<div class="col-md-6 col-md-offset-3 portfolio-item" style="background-color:white">

    <div style="height:50px">
    <div class = "col-md-12 " style="margin-top:15px;">
        <div class = "col-lg-1" style="cursor: pointer; margin-left:-15px" onclick="jump2profile('{{ post.user.id }}')">{% avatar post.user.user.username 24 class="img-round" id="user_avatar" %}</div>
        <div class = "col-lg-2" style="margin-left:-15px"><label style="cursor: pointer; font-size: 16px" onclick="jump2profile('{{ post.user.id }}')">{{post.user.username}}</label></div>
        <div class = "col-lg-6" style="cursor: pointer; margin-left:30px;margin-top:-20px" onclick="jump2detail('{{ post.id }}')"><h3 align="center">{{post.theme.name}}</h3></div>
        <div class = "col-lg-3"><p class="text-muted" align="right" style = "font-style: italic;">{{ post.upload_time|date:"d M Y"}}</p></div>
    </div>
    </div>

    <a href="/themes/apply?id={{ post.theme.id }}" class="portfolio-link">
        <div class="portfolio-hover" data-toggle="tooltip" title="click to apply this theme">
            <div class="portfolio-hover-content">
                <i class="fa fa-arrow-right fa-5x"></i>
            </div>
        </div>
        <img src="{{ post.image.url }}"  class="img-responsive" alt="">
    </a>

    <!--add-->
    <div id = "Hiddenpart" style="display:none">{{ post.id }}</div>

    <form class="form-inline" style = "margin:15px;">
        <div class="row">
            <div class="col-md-4" style="cursor: pointer">
                <div id="toggle-comments" class="text-muted" align="center" onclick="toggle_comments($(this))">
                    <h5> Show Comments</h5>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2" style="padding-top: 5px; cursor: pointer; display:inline" onclick="setlike($(this))">
                {% if user in post.like_users.all %}
                    <i class="fa fa-heart fa-lg" style="color:rgb(241,36,37)"></i>
                {% else %}
                    <i class="fa fa-heart-o fa-lg"></i>
                {% endif %}
                <span class="card-like" style="font-size: 15px; margin-left: 4px"> {{ post.like_users.count }} </span>
            </div>
        </div>
    </form>

    <div class="collapse">
        <div>
            {% include "timeline/comments.html" with comments=post.comments user=user post=post %}
        </div>
    </div>


</div>
{% endfor %}
