<div style="background-color:#F0F0F0">
{% load avatar_tags %}
{% for comment in comments.all %}
    <div>
        <div class = "col-md-1">
        {% avatar comment.user.user.username 60 class="img-round" id="user_avatar" %}
        </div>
        <div class = "col-md-11">
            <div class = "col-md-7"><label style = "margin-left:10px"> {{ comment.user.username }} </label></div>
            <div class = "col-md-5"style = "margin-right:-20px" align="right"><p class="text-muted" style = "font-style: italic;">{{ comment.time|date:"d M Y" }}</p></div>
            <div class = "col-md-12"><p style = "margin-left:10px" >{{ comment.content }}</p></div>
        </div>
        <div class = "col-md-12" style="margin:10px"></div>
    </div>
{% endfor %}

   <div class="form-group"align="right" style = "margin:20px">
      <input type="text" class="form-control" id="comment_content"
         placeholder="share your comment">
       {% if user in post.like_users.all %}
           <button class="btn btn-sm btn-danger" id = "comment_favorite" style = "margin:10px " onclick="setlike($(this))">unfavorite</button>
       {% else %}
           <button class="btn btn-sm btn-danger" id = "comment_favorite" style = "margin:10px " onclick="setlike($(this))">favorite</button>
       {% endif %}
      <button class="btn btn-sm btn-info" id = "comment_content_commit" style = "margin:10px" onclick="add_comment($(this))">commit</button>
   </div>
</div>
