{% extends 'framework/base.html' %}
{% load staticfiles %}
{% load avatar_tags %}

{% block sheetstyle %}
    <link rel="stylesheet" href={% static "css/myuser.css" %}>
{% endblock %}

{% block navbar %}
    {% include 'framework/navbar.html' %}
{% endblock %}

{% block main_content %}

<div class="col-lg-12 portfolio-caption" style="margin-top:25px;" align="center">
    <h1>{{post.theme.name}}</h1>
    <p class="text-muted user_info" style = "font-style: italic;">{{post.description}}</p>
</div>
<div class="col-lg-12" name="imagefield" style="width: 1350px;margin-top:15px;" align="center">
    <img src = {{post.image.url}} class = "photos" style = "max-width:1350px;max-height:500px;height:auto;">
</div>

<div class="col-lg-12" style="padding:25px;"></div>

<div class=" row col-lg-5 col-lg-offset-2" name="commentfield">
    {% for comment in post.comments.all%}
    <div class = "portfolio-item col-md-12">
        <div class = "col-md-2">
        {% avatar comment.user.user.username 60 class="img-round" id="user_avatar" %}
        </div>
        <div class = "col-md-10">
            <div class = "col-md-7"><label style = "margin-left:10px"> {{ comment.user.username }} </label></div>
            <div class = "col-md-5"style = "margin-right:-20px" align="right"><p class="text-muted" style = "font-style: italic;">{{ comment.time|date:"d M Y" }}</p></div>
            <div class = "col-md-12"><p style = "margin-left:10px" >{{ comment.content }}</p></div>
        </div>
        <div class = "col-md-12" style="padding:10px"></div>
    </div>
    {% endfor %}
</div>
<div class="col-lg-5" name="infofield" style="margin-left: -100px;">
    <div class = "col-lg-12 row">
        <div align="center" id = "poster_img">{% avatar post.user.user.username 255 %}</div>
        <h3 align="center" id = "poster_name">{{post.user.username}}</h3>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    $('#poster_img').children().first().attr("class","photos img-circle");
</script>
{% endblock %}