{% extends 'framework/base.html' %}
{% load staticfiles %}

{% block sheetstyle %}
<link rel="stylesheet" href={% static "css/timeline.css" %}>
{% endblock %}

{% block navbar %}
    {% include 'framework/navbar.html' %}
{% endblock %}

{% block main_content %}
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 portfolio-item">
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                    <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover" data-toggle="tooltip" title="click to apply this theme">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={% static "img/portfolio/roundicons.png" %} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-md-offset-3 portfolio-item">
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                    <a href="#portfolioModal" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover" data-toggle="tooltip" title="click to apply this theme">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={% static "img/portfolio/startup-framework.png" %} class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    <section>

    <div class="container">
        <div class="row">

            <div class="timeline-main col-sm-10 col-sm-offset-1">
                <div id="timeline-main">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src={% static "js/waterfall.js"%}></script>
    <script>
        $('#timeline-main').waterfall({
            itemCls: 'card',
            fitWidth: true,
            colWidth: 350,
            gutterWidth: 10,
            gutterHeight: 20,
            align: 'center',
            minCol: 1,
            maxCol: 3,
            maxPage: undefined,
            bufferPixel: -50,
            containerStyle: {
                position: 'relative'
            },
            resizable: true,
            isFadeIn: true,
            isAnimated: true,
            animationOptions: {
            },
            isAutoPrefill: true,
            checkImagesLoaded: true,
            path: ['/timeline/posts?page=', '/'],
            dataType: 'html',
            params: {},

            debug: false
        });
    </script>
{% endblock %}
