{% extends 'framework/base.html' %}
{% load staticfiles %}

{% block sheetstyle %}
<link rel="stylesheet" href={% static "css/timeline.css" %}>
{% endblock %}

{% block navbar %}
    {% include 'framework/navbar.html' %}
{% endblock %}

{% block main_content %}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Share Hall</h2>
                <h3 class="section-subheading text-muted">Let's enjoy it.</h3>
            </div>
        </div>
        <div class="row" id="timeline-main">
            {% include 'timeline/card.html' %}
        </div>
    </div>
</section>

{#<p class="text-muted text-center" id="loading">#}
{#    <img src={% static "img/loading.gif"%} alt="loading" />#}
{#</p>#}

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container" id="photo-gallary">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Upload Your Photos</h2>
                        <p class="item-intro text-muted">upload some photos to see how it works</p>
                        <div style="display: none" id="theme_id"></div>
                        <div class="col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-5"><button class="btn btn-danger btn-lg" style="width:200px;margin-bottom:20px;" id="run_button" onclick="run()" disabled>run</button></div>
                            <div class="col-md-5"><a href="javascript:;" class="file btn btn-info btn-lg" style="width:200px;margin-bottom:20px;">upload
                                <input type="file" name="" id="file_upload" accept="image/*">
                            </a></div>
                            <div class="col-md-1"></div>
                        </div>

{#                        <div class="image_container">#}
{#                            <img id="preview" width="60" height="60">#}
                        {#                        </div>#}
                        <div class="col-md-12">
                            <canvas id="preview_canvas" height="600" width="600">

                            </canvas>
                        </div>




                            <div class="row" id="photo-upload">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{#    <script src={% static "js/waterfall.js"%}></script>#}
    <script>
{#        $('#photo-timeline').waterfall({#}
{#            itemCls: 'portfolio-item',#}
{#            fitWidth: true,#}
{#            colWidth: 0,#}
{#            gutterWidth: 0,#}
{#            gutterHeight: 0,#}
{#            align: 'center',#}
{#            minCol: 1,#}
{#            maxCol: 1,#}
{#            maxPage: undefined,#}
{#            bufferPixel: -50,#}
{#            containerStyle: {#}
{#                position: 'relative'#}
{#            },#}
{#            resizable: true,#}
{#            isFadeIn: true,#}
{#            isAnimated: true,#}
{#            animationOptions: {#}
{#            },#}
{#            isAutoPrefill: true,#}
{#            checkImagesLoaded: true,#}
{#            path: ['/timeline/posts?page=', '/'],#}
{#            dataType: 'html',#}
{#            params: {},#}
{##}
{#            debug: false#}
{#        });#}
    </script>

    <script type="text/javascript">
        $(function() {
            var win = $(window);
            win.scroll(function() {
                if ($(document).height() - win.height() == win.scrollTop()) {
{#                    $('#loading').show();#}
                    $.ajax({
                        url: '/timeline/posts?page=1',
                        dataType: 'html',
                        success: function(html) {
                            $('#timeline-main').append(html);
{#                            $('#loading').hide();#}
                        }
                    })
                }
            });


        });
    </script>
    <script>
        function toggle_comments(sel) {
            var s = sel.parent().next();
            if(s.is(":hidden")) {
                sel.children().text("Hide Comments");
                s.toggle('collapse');
            }
            else {
                sel.children().text("Show Comments");
                s.toggle('collapse');
            }
        }


        function add_comment(sel) {
            var content = sel.prev().prev().val();
            if(content === "") {
                return;
            }
            var id = sel.parent().parent().parent().parent().prev().prev().text();
            $.ajax('/timeline/add-comment', {data: {"content": content, "post-id": id}, type: "POST"}).done(function (data) {
                sel.parent().parent().html(data);
            });
        }

        function like(sel) {
            var id = sel.parent().parent().parent().prev().prev().text();
            $.ajax('like?post-id=' + id).success(function() {
                sel.text('unfavorite');
            });
        }

        function unlike(sel) {
            var id = sel.parent().parent().parent().prev().prev().text();
            $.ajax('unlike?post-id=' + id).success(function() {
                sel.text('favorite');
            });
        }


    </script>

{% endblock %}
