{% extends 'framework/base.html' %}
{% load staticfiles %}

{% block sheetstyle %}
    <!-- PhotoEditorSDK CSS  -->
    <link rel="stylesheet" href={% static "css/PhotoEditorReactUI.css" %} />
    <link rel="stylesheet" href={% static "css/stylesheet.css" %} />
{% endblock %}

{% block main_content %}
    <div id="editor-container" style="height: 89%">
        <p style="margin-top: 20%">Loading.....</p>
    </div>

    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form" id="export-form">
                        <div class="form-group">
                            <label for="theme_name">Theme name</label>
                            <input class="form-control" id="theme_name">
                        </div>
                        <div class="form-group">
                            <label for="theme_description">Theme description</label>
                            <textarea class="form-control" id="theme_description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="theme_private" value="1">private</label>
                            <label class="radio-inline"><input type="radio" name="theme_private" value="0" checked="checked">public</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="export-image">Save changes</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src={% static "js/PhotoEditorSDK.js" %}></script>
    <script src={% static "js/PhotoEditorReactUI.js" %}></script>
    <script src={% static "js/theme.js" %}></script>
    <script src={% static "js/application.js" %}></script>

    <script>
        $("#nameModal").on('shown.bs.modal', function () {
            $('#image-name').focus();
        });
    </script>

{% endblock %}
