{% extends 'framework/base.html' %}
{% load staticfiles %}

{% block sheetstyle %}
    <!-- PhotoEditorSDK CSS  -->
    <link rel="stylesheet" href={% static "css/PhotoEditorReactUI.css" %} />
    <link rel="stylesheet" href={% static "css/stylesheet.css" %} />
{% endblock %}

{% block body %}
    <div class="container-fluid" style="height: calc(100% - 52px);">
    <div class="row" style="height: 100%">
        <div class="col-sm-1">
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>

        </div>

        <div class="col-sm-10" id="editor-container" style="height: 100%">
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
        </div>

        <div class="col-sm-1">
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>
            <p>ABCDEFG</p>

        </div>

    </div>
    </div>
{% endblock %}


{% block script %}
    <script src={% static "js/PhotoEditorSDK.js" %}></script>
    <script src={% static "js/PhotoEditorReactUI.js" %}></script>
    <script src={% static "js/application.js" %}></script>

{% endblock %}
