{% extends 'framework/base.html' %}
{% load staticfiles %}

{% block sheetstyle %}
    <!-- PhotoEditorSDK CSS  -->
    <link rel="stylesheet" href={% static "css/PhotoEditorReactUI.css" %} />
    <link rel="stylesheet" href={% static "css/stylesheet.css" %} />
{% endblock %}

{% block main_content %}
    <div id="editor-container" style="height: 89%">
        <p style="margin-top: 20%">Loading.....</p>
    </div>

    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        <label for="theme_name">Theme Name</label><input type="text" id="theme_name">
                    </p>
                    <p>
                        <label for="theme_description">Theme Description</label><textarea type="text" id="theme_description" rows="5"></textarea>
                    </p>
                    <div class="col-sm-12">
                        <div class="col-sm-6"><p><input type="radio" value="1" id="theme_private">private</p></div>
                        <div class="col-sm-6"><p><input type="radio" value="0" id="theme_private" checked=checked">public</p></div>
                    </div>
                </div>
                <div style="margin-bottom: 15px;"></div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="export-image">Save changes</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src={% static "js/PhotoEditorSDK.js" %}></script>
    <script src={% static "js/PhotoEditorReactUI.js" %}></script>
    <script src={% static "js/theme.js" %}></script>
    <script src={% static "js/application.js" %}></script>

    <script>
        $("#nameModal").on('shown.bs.modal', function () {
            $('#image-name').focus();
        });
    </script>

{% endblock %}
