<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title>Themer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PhotoEditorSDK CSS / JS -->
  <link rel="stylesheet" href={% static "css/PhotoEditorReactUI.css" %} />
  <link rel="stylesheet" href={% static "stylesheet.css" %} />
  <script src={% static "js/PhotoEditorSDK.js" %}></script>
  <script src={% static "js/PhotoEditorReactUI.js" %}></script>

  <script src={% static "application.js" %}></script>
</head>
<body>
  <div id="container" class="fullscreen"></div>
  <div class="links">
    <a href="#" id="webgl" class="link active">WebGL</a> | <a href="#" id="canvas" class="link">Canvas</a>
  </div>
</body>
</html>
